*.o
*.swp
nohup.out
*.log

src/.deps
config.h
*~
*.swo

autom4te.cache
config.status
src/Makefile
Makefile
stamp-h1

*.bin.to

test/images/

test/*.trs
test/*.log

test/*_wd

release/win-i686
release/win-x86_64
release/linux-i686

src/crane_gps_watch_client
src/gps_watch_monitor.py
